<!DOCTYPE html>
<html>
  <head>
    <title>Nuurdle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- comment
     -->
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <img src="/assets/nuurdle.png" width="40" height="40" alt="">
            <img src="/assets/nuurdle-word.png" width="150" height="50" alt="">
          </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href=about>what is nuurdle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=download>get nüurdle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=find>test drive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=blog>blog</a>
            </li>
          </ul>
        </div>
      </nav>

    <%= yield %>
    </div>
    
    <div id="footer">
      <div class="container">
        <b>Footer Here</b>
        <br />
        <%= link_to 'Link', '#' %>
      </div>
    </div>
  </body>
</html>
