<!DOCTYPE html>
<html>
  <head>
    <title>Nuurdle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- comment
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :meta %>
    <meta name="robots" content="index,follow">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- comment
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
     -->
    <div id="flex-content-container">
      <div class = "col-10 offset-1">

      <nav class="navbar navbar-toggleable-md navbar-light">
        <div class= "container">

            <button class="pull-right navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href=/>
              <img src="/assets/nuurdle.png" width="65" height="60" alt="">
              <img src="/assets/nuurdle-word.png" width="200" height="60" alt="">
            </a>



          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=about>about</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=download>download</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=find>try</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=blog>blog</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    </div>  
    <%= yield %>
   
</div>
    
    <!-- comment

     -->
    <div id="footer">
      <div class="container">
        <b>Footer Here</b>
        <br />
        <%= link_to 'Link', '#' %><br/>
        <b>Footer Here</b>
        <br />
        <%= link_to 'Link', '#' %><br/>

      </div>
    </div>







  </body>
</html>
