<!DOCTYPE html>
<html>
  <head>
    <title>Nuurdle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- comment
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :meta %>
    <meta name="robots" content="index,follow">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- comment
          <div id="flex-content-container">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xs-10 offset-xs-1">
        <nav class="navbar navbar-toggleable-md navbar-light">

            <a class="navbar-brand" href=/>
              <img src="/assets/nuurdle.png" width="40" height="40" alt="">
              <img src="/assets/nuurdle-word.png" width="150" height="50" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item nrdl-bar">
                  <a class="nav-link" href=about>about</a>
                </li>
                <li class="nav-item nrdl-bar">
                  <a class="nav-link" href=download>download</a>
                </li>
                <li class="nav-item nrdl-bar">
                  <a class="nav-link" href=find>try</a>
                </li>
                <li class="nav-item nrdl-bar">
                  <a class="nav-link" href=blog>blog</a>
                </li>
              </ul>
            </div>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>

        </nav>
      </div>  
 
    <%= yield %>
    </div>
     -->

    <div class="flex-content-container">
      <div class="col-10 offset-1">
        <nav class="navbar navbar-toggleable-md navbar-light">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href=/>
              <img src="/assets/nuurdle.png" width="40" height="40" alt="">
              <img src="/assets/nuurdle-word.png" width="150" height="50" alt="">
          </a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=about>about</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=download>download</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=find>try</a>
              </li>
              <li class="nav-item nrdl-bar">
                <a class="nav-link" href=blog>blog</a>
              </li>
            </ul>
          </div>
        </nav>

          <% if notice.present? %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert.present? %>
            <p class="alert"><%= alert %></p>
          <% end %>


      
      </div>    
        <%= yield %>
      
    </div> 

    
    <!-- comment

     -->
    <div id="footer">
      <div class="container">
        <div class = "row">
          <div class = "col-sm-12">
            <img src="/assets/nuurdle-word.png" width="150" height="50" alt="">
            <img src="/assets/nuurdle.png" width="36" height="36" alt=""> 
          </a>
          </div>
        </div>
        <br />
        <div class = "row">
          <div class = "col-sm-4">
            <%= mail_to 'feedback@nuurdle.com', 'something to tell us?' %><br/>
            <%= mail_to 'support@nuurdle.com', 'need some help?' %><br/>
            <%= mail_to 'pr@nuurdle.com', 'public relations and media' %><br/>
            <br />
          </div>
          

          <div class = "col-sm-4">
            <%= link_to 'faq', faq_path %><br/>
            <%= link_to 'guidelines', guidelines_path %><br/>
            <%= link_to 'tac', tac_path %><br/>
            <br />
          </div>

          <div class = "col-sm-4">
            <a class="navbar-brand" target="_blank" href="https://www.facebook.com/nuurdle"/>
              <img src="/assets/fb.svg" width="40" height="40" alt="">
            </a>   

            <a class="navbar-brand" target="_blank" href="https://www.instagram.com/nuurdle/"/>
              <img src="/assets/insta.svg" width="40" height="40" alt="">
            </a>
    
            <a class="navbar-brand" target="_blank" href="https://twitter.com/nuurdle"/>
              <img src="/assets/tw.svg" width="40" height="40" alt="">
            </a>

            <a class="navbar-brand" target="_blank" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
              <img src="/assets/android.svg" width="40" height="40" alt="">
            </a>

            <a class="navbar-brand" target="_blank" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
              <img src="/assets/apple.svg" width="40" height="40" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>







  </body>
</html>
